/* ===========================
        RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

/* ===========================
        BODY
=========================== */

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f8f3eb;
    color:#2d2d2d;
}

/* ===========================
        HEADER
=========================== */

header{
    background:#3b1d13;
    padding:20px 50px;
    position:sticky;
    top:0;
    z-index:1000;
}

/* ===========================
        NAVBAR
=========================== */

nav ul{
    display:flex;
    justify-content:center;
    gap:40px;
    list-style:none;
}

nav a{
    text-decoration:none;
    color:white;
    font-size:18px;
    font-weight:bold;
    transition:.3s;
}

nav a:hover{
    color:#ffb347;
}

/* ===========================
        HERO SECTION
=========================== */

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:70px 8%;
    min-height:90vh;
    animation:fade 1.2s ease;
}

.left{
    width:60%;
}

.right{
    width:30%;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
}

/* ===========================
        TYPOGRAPHY
=========================== */

h1{
    font-size:75px;
    line-height:1.1;
    text-align:center;
    color:#8b0000;
    font-family:'Playfair Display', serif;
    margin:40px 0 15px;
    text-shadow:3px 3px 6px rgba(0,0,0,.3);
}

.tagline{
    font-size:28px;
    color:#666;
    margin-bottom:35px;
}
.card h3{
    font-size:24px;
    color:#2d2d2d;
}
.card p{
    color:#777;
    font-size:16px;
}
.card h4{
    color:#8b0000;
    font-size:22px;
}

/* ===========================
        IMAGES
=========================== */

img{
    border-radius:20px;
    object-fit:cover;
}

.main-image{
    width:100%;
    height:420px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

.top-image{
    width:100%;
    height:230px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

.food-left{
    width:250px;
    height:180px;
    transition:.4s;
}

.food-center{
    width:320px;
    height:420px;
}

.chef-right{
    width:250px;
    height:180px;
}

.food-left:hover{
    transform:scale(1.05);
}
.card img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:15px;
    margin-bottom:15px;
    transition: transform .4s ease;
}

/* ===========================
        VIDEO
=========================== */

.video-container{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    gap:20px;
}

.video-box{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

video{
    box-shadow:0 15px 35px rgba(0,0,0,.25);
    border-radius:20px;
}

/* ===========================
        BUTTONS
=========================== */

.btn,
.hero a{

    background:#8b0000;
    color:white;
    text-decoration:none;
    padding:16px 40px;
    border-radius:20px;
    font-size:18px;
    font-weight:bold;
    transition:.3s;
    display:inline-block;

}

.btn:hover,
.hero a:hover{

    background:#680000;
    transform:translateY(-5px);
    box-shadow:0 10px 25px rgba(184,0,0,.4);

}

/* ===========================
        CARDS
=========================== */

.card{
    background:#fffaf5;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 12px 30px rgba(0,0,0,.12);
    transition:
    transform .35s ease,
    box-shadow .35s ease; 

    padding:20px;

    display:flex;
    flex-direction:column;
    cursor:pointer;
    gap:15px;
}
.dish-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}

.card:hover{

    transform:translateY(-12px);
    box-shadow:0 25px 50px rgba(0,0,0,.18);


}

.card h4 span{
    text-decoration:line-through;
    color:#888;
    font-size:16px;
    margin-left:10px;
}

.image-container{
    position:relative;
    overflow: hidden;
    border-radius: 15px;
}

.badge{
    position:absolute;
    top:15px;
    left:15px;

    background:#e63946;
    color:white;

    padding:8px 14px;

    border-radius:50px;

    font-size:13px;
    font-weight:bold;

    letter-spacing:.5px;

    box-shadow:0 6px 15px rgba(0,0,0,.25);
}

.card:hover img{
    transform:scale(1.08);
}

.card:hover .btn{

    transform:scale(1.08);

    background:#b30000;

}

/* ===========================
        SECTIONS
=========================== */

section{
    padding:80px 8%;
}

.about{
    background:#fffdf9;
}

.popular{
    background:#fdf8f2;
}

/* ===========================
        FOOTER
=========================== */

footer{
    background:#2b160d;
    color:white;
}

/* ===========================
        ANIMATIONS
=========================== */

@keyframes fade{

from{
    opacity:0;
    transform:translateY(30px);
}

to{
    opacity:1;
    transform:translateY(0);
}

}
